.cl{
  background-color:#1c2333; 
}

.card-title{
  font-size: 2rem;
  font-weight: 900;
  color: orange;
  

}
  .fields-container {
    display: flex; 
    justify-content: center;
    background-color:black; 
    color: orange;
    font-weight: 400;
    /* font-size: 20px; */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(147, 10, 10, 0.1);
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
  }
  .fields-section {
    flex: 1;
    padding: 20px;
  }
  .fields-container h2 {
    font-size: 21px;
    margin-bottom: 20px;
  }
  .form-label {
    color:  white;
    
  } 
  #hen
  {
   
      color:  white;
    
  }
  .form-control {
    border-radius: 5px;
    margin-bottom: 20px;
  }
  .custom-radio-label {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid white ;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
  }

 /* Default styles for .btnmodel */
.btnmodel {
  width: 35%;
  padding: 5px;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: orange;
  color:white;
}




.btn{
background-color: orange;
color: white;
}
.header {

width: 5rem;
height: 5rem;

background-color: transparent;
}

@media (min-width: 320px)  and (max-width: 480px)
{
 
  .btnmodel {
    width: 100%; 
    padding: 10px; 
    font-size: 14px; 
  }
  .fields-container {
    max-width: 80%;
    padding: 20px;
    font-size: 11px;
  }
  .fields-section {
    padding: 10px;
  }
  .card-title {
    font-size: 15px;
    font-weight: 900;
  }
  .form-control {
    margin-bottom: 8px;
  }
  .custom-radio-label {
    padding: 5px;
    margin-bottom: 5px;
  }
 .btn{
  width: 100%;
  padding: 10px;
  font-size: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: orange;
  color:white;
 }
 h2 {
  font-size: 14px;
}

}